html {

    background: #1e1a20;
    font-family: 'Bubblegum Sans', cursive;
}

body {
    margin: 0;
    overflow: hidden;
    user-select: none;
    color: #fff;
}

#app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.jogador {
    position: fixed;
    width: 80px;
    height: 75px;
    z-index: 9;
}

.jogador .vidro {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    height: 50px;
    height: 60px;
    transform: translate(-50%, 0);
    border-radius: 50% 50% 0 0;
    background: #e2e2e2;
    box-shadow: 0 4px 0 6px #1e1a20;
    z-index: 3;
}